<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="material_gazebo_black">
    <visual>
      <material>
        <ambient>0.2 0.2 0.2 1</ambient>
        <diffuse>0.0 0.0 0.0 1</diffuse>
      </material>
    </visual>
  </xacro:macro>

  <xacro:macro name="material_gazebo_white">
    <visual>
      <material>
        <ambient>0.95 0.95 0.95 1</ambient>
        <diffuse>0.95 0.95 0.95 1</diffuse>
      </material>
    </visual>
  </xacro:macro>

  <xacro:macro name="material_gazebo_red">
    <visual>
      <material>
        <ambient>1.0 0.3 0.3 1</ambient>
        <diffuse>1.0 0.0 0.0 1</diffuse>
      </material>
    </visual>
  </xacro:macro>

  <xacro:macro name="gazebo_robot_settings">
    <gazebo>
      <plugin filename="libign_ros2_control-system.so" name="ign_ros2_control::IgnitionROS2ControlPlugin">
        <parameters>$(find ${GZ_CONTROL_CONFIG_PACKAGE})/${GZ_CONTROL_CONFIG_FILE_PATH}</parameters>
      </plugin>
    </gazebo>

    <gazebo reference="${NAME_LINK_BASE}">
      <xacro:material_gazebo_white/>
    </gazebo>

    <gazebo reference="${NAME_LINK_BODY}">
      <xacro:material_gazebo_white/>
    </gazebo>

    <gazebo reference="${NAME_LINK_NECK_1}">
      <xacro:material_gazebo_white/>
    </gazebo>

    <gazebo reference="${NAME_LINK_NECK_2}">
      <xacro:material_gazebo_white/>
    </gazebo>

    <gazebo>
      <plugin filename="ignition-gazebo-sensors-system" name="ignition::gazebo::systems::Sensors">
        <render_engine>ogre2</render_engine>
      </plugin>
    </gazebo>

    <gazebo reference="${NAME_HEAD_CAMERA_PREFIX}_color_frame">
      <xacro:material_gazebo_black/>

      <sensor name="sim_realsense_d415" type="rgbd_camera">
        <update_rate>10</update_rate>
        <always_on>true</always_on>
        <topic>${NAME_HEAD_CAMERA_PREFIX}</topic>
        <ignition_frame_id>${NAME_HEAD_CAMERA_PREFIX}_color_frame</ignition_frame_id>
        <camera name="realsense_d415">
          <horizontal_fov>${radians(69.4)}</horizontal_fov>
          <image>
            <width>640</width>
            <height>360</height>
          </image>
          <clip>
            <near>0.1</near>
            <far>10.0</far>
          </clip>
          <depth_camera>
            <clip>
              <near>0.1</near>
              <far>3.0</far>
            </clip>
          </depth_camera>
          <optical_frame_id>${NAME_HEAD_CAMERA_PREFIX}_color_optical_frame</optical_frame_id>
        </camera>
      </sensor>
    </gazebo>

    <gazebo reference="${NAME_LINK_CHEST_CAMERA}">
      <xacro:material_gazebo_black/>

      <sensor name="${NAME_CHEST_CAMERA_PREFIX}" type="camera">
        <pose relative_to="${NAME_LINK_CHEST_CAMERA}">0 0 0 ${radians(90)} ${radians(-90)} 0</pose>
        <update_rate>10</update_rate>
        <always_on>true</always_on>
        <topic>${NAME_CHEST_CAMERA_PREFIX}/image_raw</topic>
        <ignition_frame_id>${NAME_LINK_CHEST_CAMERA}</ignition_frame_id>
        <camera name="${NAME_CHEST_CAMERA_PREFIX}">
          <horizontal_fov>${radians(120)}</horizontal_fov>
          <image>
            <width>640</width>
            <height>360</height>
          </image>
          <clip>
            <near>0.1</near>
            <far>10.0</far>
          </clip>
        </camera>
      </sensor>
    </gazebo>

    <gazebo reference="${NAME_LINK_ARM_R_1}">
      <xacro:material_gazebo_white/>
    </gazebo>

    <gazebo reference="${NAME_LINK_ARM_R_2}">
      <xacro:material_gazebo_white/>
    </gazebo>

    <gazebo reference="${NAME_LINK_ARM_R_3}">
      <xacro:material_gazebo_white/>
    </gazebo>

    <gazebo reference="${NAME_LINK_ARM_R_4}">
      <xacro:material_gazebo_white/>
    </gazebo>

    <gazebo reference="${NAME_LINK_ARM_R_5}">
      <xacro:material_gazebo_white/>
    </gazebo>

    <gazebo reference="${NAME_LINK_ARM_R_6}">
      <xacro:material_gazebo_white/>
    </gazebo>

    <gazebo reference="${NAME_LINK_ARM_R_7}">
      <xacro:material_gazebo_red/>
    </gazebo>

    <gazebo reference="${NAME_LINK_GRIPPER_R_A}">
      <mu1>0.8</mu1>
      <mu2>0.8</mu2>
      <xacro:material_gazebo_red/>
    </gazebo>

    <gazebo reference="${NAME_LINK_GRIPPER_R_B}">
      <mu1>0.8</mu1>
      <mu2>0.8</mu2>
      <xacro:material_gazebo_red/>
    </gazebo>

    <gazebo reference="${NAME_LINK_ARM_L_1}">
      <xacro:material_gazebo_white/>
    </gazebo>

    <gazebo reference="${NAME_LINK_ARM_L_2}">
      <xacro:material_gazebo_white/>
    </gazebo>

    <gazebo reference="${NAME_LINK_ARM_L_3}">
      <xacro:material_gazebo_white/>
    </gazebo>

    <gazebo reference="${NAME_LINK_ARM_L_4}">
      <xacro:material_gazebo_white/>
    </gazebo>

    <gazebo reference="${NAME_LINK_ARM_L_5}">
      <xacro:material_gazebo_white/>
    </gazebo>

    <gazebo reference="${NAME_LINK_ARM_L_6}">
      <xacro:material_gazebo_white/>
    </gazebo>

    <gazebo reference="${NAME_LINK_ARM_L_7}">
      <xacro:material_gazebo_red/>
    </gazebo>

    <gazebo reference="${NAME_LINK_GRIPPER_L_A}">
      <mu1>0.8</mu1>
      <mu2>0.8</mu2>
      <xacro:material_gazebo_red/>
    </gazebo>

    <gazebo reference="${NAME_LINK_GRIPPER_L_B}">
      <mu1>0.8</mu1>
      <mu2>0.8</mu2>
      <xacro:material_gazebo_red/>
    </gazebo>

  </xacro:macro>
</robot>
