<?xml version="1.0"?>

<robot name="sciurus17" xmlns:xacro="http://ros.org/wiki/xacro" >
  <xacro:include filename="$(find sciurus17_description)/urdf/sciurus17_body.xacro"/>
  <xacro:include filename="$(find sciurus17_description)/urdf/sciurus17_head.xacro"/>
  <xacro:include filename="$(find sciurus17_description)/urdf/sciurus17_right_arm.xacro"/>
  <xacro:include filename="$(find sciurus17_description)/urdf/sciurus17_right_hand.xacro"/>
  <xacro:include filename="$(find sciurus17_description)/urdf/sciurus17_left_arm.xacro"/>
  <xacro:include filename="$(find sciurus17_description)/urdf/sciurus17_left_hand.xacro"/>

  <material name="white">
    <color rgba="0.9 0.9 0.9 1.0"/>
  </material>
  <material name="red">
    <color rgba="0.8984375 0.0 0.0703125 1"/>
  </material>

  <xacro:property name="NAME_LINK_BASE" value="base_link"/>
  <xacro:property name="NAME_LINK_BODY" value="body_link"/>

  <xacro:property name="NAME_LINK_NECK_1" value="neck_yaw_link"/>
  <xacro:property name="NAME_LINK_NECK_2" value="neck_pitch_link"/>

  <xacro:property name="NAME_LINK_HEAD_CAMERA" value="head_camera_link"/>
  <xacro:property name="NAME_LINK_CHEST_CAMERA" value="chest_camera_link"/>

  <xacro:property name="NAME_LINK_ARM_R_1" value="r_link1"/>
  <xacro:property name="NAME_LINK_ARM_R_2" value="r_link2"/>
  <xacro:property name="NAME_LINK_ARM_R_3" value="r_link3"/>
  <xacro:property name="NAME_LINK_ARM_R_4" value="r_link4"/>
  <xacro:property name="NAME_LINK_ARM_R_5" value="r_link5"/>
  <xacro:property name="NAME_LINK_ARM_R_6" value="r_link6"/>
  <xacro:property name="NAME_LINK_ARM_R_7" value="r_link7"/>
  <xacro:property name="NAME_LINK_HAND_R_A" value="r_handA_link"/>
  <xacro:property name="NAME_LINK_HAND_R_B" value="r_handB_link"/>
  <xacro:property name="NAME_LINK_ARMARKER_R" value="r_link5_armarker"/>

  <xacro:property name="NAME_LINK_ARM_L_1" value="l_link1"/>
  <xacro:property name="NAME_LINK_ARM_L_2" value="l_link2"/>
  <xacro:property name="NAME_LINK_ARM_L_3" value="l_link3"/>
  <xacro:property name="NAME_LINK_ARM_L_4" value="l_link4"/>
  <xacro:property name="NAME_LINK_ARM_L_5" value="l_link5"/>
  <xacro:property name="NAME_LINK_ARM_L_6" value="l_link6"/>
  <xacro:property name="NAME_LINK_ARM_L_7" value="l_link7"/>
  <xacro:property name="NAME_LINK_HAND_L_A" value="l_handA_link"/>
  <xacro:property name="NAME_LINK_HAND_L_B" value="l_handB_link"/>
  <xacro:property name="NAME_LINK_ARMARKER_L" value="l_link5_armarker"/>

  <xacro:property name="NAME_JOINT_BODY" value="waist_yaw_joint"/>
  <xacro:property name="NAME_JOINT_BASE" value="base_link_to_world_joint"/>

  <xacro:property name="NAME_JOINT_NECK_1" value="neck_yaw_joint"/>
  <xacro:property name="NAME_JOINT_NECK_2" value="neck_pitch_joint"/>

  <xacro:property name="NAME_JOINT_HEAD_CAMERA" value="head_camera_joint"/>
  <xacro:property name="NAME_JOINT_CHEST_CAMERA" value="chest_camera_joint"/>

  <xacro:property name="NAME_JOINT_ARM_R_1" value="r_arm_joint1"/>
  <xacro:property name="NAME_JOINT_ARM_R_2" value="r_arm_joint2"/>
  <xacro:property name="NAME_JOINT_ARM_R_3" value="r_arm_joint3"/>
  <xacro:property name="NAME_JOINT_ARM_R_4" value="r_arm_joint4"/>
  <xacro:property name="NAME_JOINT_ARM_R_5" value="r_arm_joint5"/>
  <xacro:property name="NAME_JOINT_ARM_R_6" value="r_arm_joint6"/>
  <xacro:property name="NAME_JOINT_ARM_R_7" value="r_arm_joint7"/>
  <xacro:property name="NAME_JOINT_HAND_R_A" value="r_hand_joint"/>
  <xacro:property name="NAME_JOINT_HAND_R_B" value="r_hand_mimic_joint"/>
  <xacro:property name="NAME_JOINT_ARMARKER_R" value="r_arm_armarker"/>

  <xacro:property name="NAME_JOINT_ARM_L_1" value="l_arm_joint1"/>
  <xacro:property name="NAME_JOINT_ARM_L_2" value="l_arm_joint2"/>
  <xacro:property name="NAME_JOINT_ARM_L_3" value="l_arm_joint3"/>
  <xacro:property name="NAME_JOINT_ARM_L_4" value="l_arm_joint4"/>
  <xacro:property name="NAME_JOINT_ARM_L_5" value="l_arm_joint5"/>
  <xacro:property name="NAME_JOINT_ARM_L_6" value="l_arm_joint6"/>
  <xacro:property name="NAME_JOINT_ARM_L_7" value="l_arm_joint7"/>
  <xacro:property name="NAME_JOINT_HAND_L_A" value="l_hand_joint"/>
  <xacro:property name="NAME_JOINT_HAND_L_B" value="l_hand_mimic_joint"/>
  <xacro:property name="NAME_JOINT_ARMARKER_L" value="l_arm_armarker"/>

  <xacro:property name="EFFORT_LIMIT" value="4.0"/>
  <xacro:property name="VELOCITY_LIMIT" value="5.969211435"/>

  <xacro:property name="NAME_JOINT_BODY_LOWER_LIMIT" value="${radians(-110)}"/>
  <xacro:property name="NAME_JOINT_BODY_UPPER_LIMIT" value="${radians(110)}"/>

  <xacro:property name="JOINT_NECK_1_LOWER_LIMIT" value="${radians(-165)}"/>
  <xacro:property name="JOINT_NECK_1_UPPER_LIMIT" value="${radians(165)}"/>
  <xacro:property name="JOINT_NECK_2_LOWER_LIMIT" value="${radians(-90)}"/>
  <xacro:property name="JOINT_NECK_2_UPPER_LIMIT" value="${radians(55)}"/>

  <xacro:property name="JOINT_ARM_R_1_LOWER_LIMIT" value="${radians(-90)}"/>
  <xacro:property name="JOINT_ARM_R_1_UPPER_LIMIT" value="${radians(90)}"/>
  <xacro:property name="JOINT_ARM_R_2_LOWER_LIMIT" value="${radians(-90)}"/>
  <xacro:property name="JOINT_ARM_R_2_UPPER_LIMIT" value="${radians(0)}"/>
  <xacro:property name="JOINT_ARM_R_3_LOWER_LIMIT" value="${radians(-90)}"/>
  <xacro:property name="JOINT_ARM_R_3_UPPER_LIMIT" value="${radians(90)}"/>
  <xacro:property name="JOINT_ARM_R_4_LOWER_LIMIT" value="${radians(0)}"/>
  <xacro:property name="JOINT_ARM_R_4_UPPER_LIMIT" value="${radians(157)}"/>
  <xacro:property name="JOINT_ARM_R_5_LOWER_LIMIT" value="${radians(-90)}"/>
  <xacro:property name="JOINT_ARM_R_5_UPPER_LIMIT" value="${radians(90)}"/>
  <xacro:property name="JOINT_ARM_R_6_LOWER_LIMIT" value="${radians(-120)}"/>
  <xacro:property name="JOINT_ARM_R_6_UPPER_LIMIT" value="${radians(60)}"/>
  <xacro:property name="JOINT_ARM_R_7_LOWER_LIMIT" value="${radians(-170)}"/>
  <xacro:property name="JOINT_ARM_R_7_UPPER_LIMIT" value="${radians(170)}"/>
  <xacro:property name="JOINT_HAND_R_LOWER_LIMIT" value="${radians(0)}"/>
  <xacro:property name="JOINT_HAND_R_UPPER_LIMIT" value="${radians(86)}"/>

  <xacro:property name="JOINT_ARM_L_1_LOWER_LIMIT" value="${radians(-90)}"/>
  <xacro:property name="JOINT_ARM_L_1_UPPER_LIMIT" value="${radians(90)}"/>
  <xacro:property name="JOINT_ARM_L_2_LOWER_LIMIT" value="${radians(0)}"/>
  <xacro:property name="JOINT_ARM_L_2_UPPER_LIMIT" value="${radians(90)}"/>
  <xacro:property name="JOINT_ARM_L_3_LOWER_LIMIT" value="${radians(-90)}"/>
  <xacro:property name="JOINT_ARM_L_3_UPPER_LIMIT" value="${radians(90)}"/>
  <xacro:property name="JOINT_ARM_L_4_LOWER_LIMIT" value="${radians(-157)}"/>
  <xacro:property name="JOINT_ARM_L_4_UPPER_LIMIT" value="${radians(0)}"/>
  <xacro:property name="JOINT_ARM_L_5_LOWER_LIMIT" value="${radians(-90)}"/>
  <xacro:property name="JOINT_ARM_L_5_UPPER_LIMIT" value="${radians(90)}"/>
  <xacro:property name="JOINT_ARM_L_6_LOWER_LIMIT" value="${radians(-60)}"/>
  <xacro:property name="JOINT_ARM_L_6_UPPER_LIMIT" value="${radians(120)}"/>
  <xacro:property name="JOINT_ARM_L_7_LOWER_LIMIT" value="${radians(-170)}"/>
  <xacro:property name="JOINT_ARM_L_7_UPPER_LIMIT" value="${radians(170)}"/>
  <xacro:property name="JOINT_HAND_L_LOWER_LIMIT" value="${radians(-86)}"/>
  <xacro:property name="JOINT_HAND_L_UPPER_LIMIT" value="${radians(0)}"/>

  <xacro:property name="COLOR_LINK_BASE" value="white"/>
  <xacro:property name="COLOR_LINK_BODY" value="white"/>
  <xacro:property name="COLOR_LINK_HEAD" value="white"/>
  <xacro:property name="COLOR_LINK_ARM" value="white"/>
  <xacro:property name="COLOR_LINK_HAND" value="red"/>
  <xacro:property name="COLOR_LINK_CAMERA" value="white"/>

  <xacro:arg name="use_gazebo_simulation" default="false" />
  <xacro:arg name="load_trans1" default="false" />
  <xacro:arg name="load_trans2" default="false" />
  <xacro:arg name="load_trans3" default="false" />

  <xacro:arg name="use_effort_right_arm" default="false" />
  <xacro:property name="right_arm_interface" value="position"/>
  <xacro:if value="$(arg use_effort_right_arm)">
    <xacro:property name="right_arm_interface" value="effort"/>
  </xacro:if>

  <xacro:arg name="use_effort_left_wrist" default="false" />
  <xacro:property name="left_wrist_interface" value="position"/>
  <xacro:if value="$(arg use_effort_left_wrist)">
    <xacro:property name="left_wrist_interface" value="effort"/>
  </xacro:if>

  <xacro:if value="$(arg use_gazebo_simulation)">
    <xacro:include filename="$(find sciurus17_description)/urdf/sciurus17_gazebo.xacro"/>

    <xacro:if value="$(arg load_trans1)">
      <xacro:default_transmission joint_name="r_arm_joint1" interface="${right_arm_interface}"/>
      <xacro:default_transmission joint_name="r_arm_joint2" interface="${right_arm_interface}"/>
      <xacro:default_transmission joint_name="r_arm_joint3" interface="${right_arm_interface}"/>
      <xacro:default_transmission joint_name="r_arm_joint4" interface="${right_arm_interface}"/>
      <xacro:default_transmission joint_name="r_arm_joint5" interface="${right_arm_interface}"/>
      <xacro:default_transmission joint_name="r_arm_joint6" interface="${right_arm_interface}"/>
      <xacro:default_transmission joint_name="r_arm_joint7" interface="${right_arm_interface}"/>
      <xacro:default_transmission joint_name="r_hand_joint"/>
    </xacro:if>

    <xacro:if value="$(arg load_trans2)">
      <xacro:default_transmission joint_name="l_arm_joint1"/>
      <xacro:default_transmission joint_name="l_arm_joint2"/>
      <xacro:default_transmission joint_name="l_arm_joint3"/>
      <xacro:default_transmission joint_name="l_arm_joint4"/>
      <xacro:default_transmission joint_name="l_arm_joint5"/>
      <xacro:default_transmission joint_name="l_arm_joint6"/>
      <xacro:default_transmission joint_name="l_arm_joint7" interface="${left_wrist_interface}"/>
      <xacro:default_transmission joint_name="l_hand_joint"/>
    </xacro:if>

    <xacro:if value="$(arg load_trans3)">
      <xacro:default_transmission joint_name="waist_yaw_joint"/>
      <xacro:default_transmission joint_name="neck_yaw_joint"/>
      <xacro:default_transmission joint_name="neck_pitch_joint"/>
    </xacro:if>
  </xacro:if>

  <!-- Used for fixing robot 'base_link'  to Gazebo 'world' -->
  <link name="world"/>

  <joint name="${NAME_JOINT_BASE}" type="fixed">
    <parent link="world"/>
    <child link="${NAME_LINK_BASE}"/>
  </joint>

  <xacro:sciurus17_body/>

  <xacro:sciurus17_head/>

  <xacro:sciurus17_right_arm/>

  <xacro:sciurus17_right_hand/>

  <xacro:sciurus17_left_arm/>

  <xacro:sciurus17_left_hand/>

</robot>
