<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="material_gazebo_black">
    <visual>
      <material>
        <ambient>0.2 0.2 0.2 1</ambient>
        <diffuse>0.0 0.0 0.0 1</diffuse>
      </material>
    </visual>
  </xacro:macro>

  <xacro:macro name="material_gazebo_white">
    <visual>
      <material>
        <ambient>0.95 0.95 0.95 1</ambient>
        <diffuse>0.95 0.95 0.95 1</diffuse>
      </material>
    </visual>
  </xacro:macro>

  <xacro:macro name="material_gazebo_red">
    <visual>
      <material>
        <ambient>1.0 0.3 0.3 1</ambient>
        <diffuse>1.0 0.0 0.0 1</diffuse>
      </material>
    </visual>
  </xacro:macro>

  <xacro:macro name="gazebo_robot_settings">
    <gazebo>
      <plugin filename="libign_ros2_control-system.so" name="ign_ros2_control::IgnitionROS2ControlPlugin">
        <parameters>$(find ${GZ_CONTROL_CONFIG_PACKAGE})/${GZ_CONTROL_CONFIG_FILE_PATH}</parameters>
      </plugin>
    </gazebo>

    <gazebo reference="${NAME_LINK_BASE}">
      <xacro:material_gazebo_white/>
    </gazebo>

    <gazebo reference="${NAME_LINK_BODY}">
      <xacro:material_gazebo_white/>
    </gazebo>

    <gazebo reference="${NAME_LINK_CHEST_CAMERA}">
      <xacro:material_gazebo_black/>
    </gazebo>

    <gazebo reference="${NAME_LINK_NECK_1}">
      <xacro:material_gazebo_white/>
    </gazebo>

    <gazebo reference="${NAME_LINK_NECK_2}">
      <xacro:material_gazebo_white/>
    </gazebo>

    <gazebo reference="${NAME_LINK_HEAD_CAMERA}">
      <xacro:material_gazebo_black/>
    </gazebo>

    <gazebo reference="${NAME_LINK_ARM_R_1}">
      <xacro:material_gazebo_white/>
    </gazebo>

    <gazebo reference="${NAME_LINK_ARM_R_2}">
      <xacro:material_gazebo_white/>
    </gazebo>

    <gazebo reference="${NAME_LINK_ARM_R_3}">
      <xacro:material_gazebo_white/>
    </gazebo>

    <gazebo reference="${NAME_LINK_ARM_R_4}">
      <xacro:material_gazebo_white/>
    </gazebo>

    <gazebo reference="${NAME_LINK_ARM_R_5}">
      <xacro:material_gazebo_white/>
    </gazebo>

    <gazebo reference="${NAME_LINK_ARM_R_6}">
      <xacro:material_gazebo_white/>
    </gazebo>

    <gazebo reference="${NAME_LINK_ARM_R_7}">
      <xacro:material_gazebo_red/>
    </gazebo>

    <gazebo reference="${NAME_LINK_HAND_R_A}">
      <mu1>0.8</mu1>
      <mu2>0.8</mu2>
      <xacro:material_gazebo_red/>
    </gazebo>

    <gazebo reference="${NAME_LINK_HAND_R_B}">
      <mu1>0.8</mu1>
      <mu2>0.8</mu2>
      <xacro:material_gazebo_red/>
    </gazebo>

    <gazebo reference="${NAME_LINK_ARM_L_1}">
      <xacro:material_gazebo_white/>
    </gazebo>

    <gazebo reference="${NAME_LINK_ARM_L_2}">
      <xacro:material_gazebo_white/>
    </gazebo>

    <gazebo reference="${NAME_LINK_ARM_L_3}">
      <xacro:material_gazebo_white/>
    </gazebo>

    <gazebo reference="${NAME_LINK_ARM_L_4}">
      <xacro:material_gazebo_white/>
    </gazebo>

    <gazebo reference="${NAME_LINK_ARM_L_5}">
      <xacro:material_gazebo_white/>
    </gazebo>

    <gazebo reference="${NAME_LINK_ARM_L_6}">
      <xacro:material_gazebo_white/>
    </gazebo>

    <gazebo reference="${NAME_LINK_ARM_L_7}">
      <xacro:material_gazebo_red/>
    </gazebo>

    <gazebo reference="${NAME_LINK_HAND_L_A}">
      <mu1>0.8</mu1>
      <mu2>0.8</mu2>
      <xacro:material_gazebo_red/>
    </gazebo>

    <gazebo reference="${NAME_LINK_HAND_L_B}">
      <mu1>0.8</mu1>
      <mu2>0.8</mu2>
      <xacro:material_gazebo_red/>
    </gazebo>

  </xacro:macro>
</robot>
