<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="sciurus17_body">

    <link name="${NAME_LINK_BASE}">
      <visual>
        <geometry>
          <mesh filename="package://sciurus17_description/meshes/visual/Base.stl" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="${COLOR_LINK_BASE}"/>
      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
        <geometry>
          <mesh filename="package://sciurus17_description/meshes/collision/Base.stl" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="0.558729"/>
        <origin xyz="-16.908e-03 0.229e-03 35.241e-03" rpy="0 0 0"/>
        <inertia ixx="571563.874e-09" ixy="1950.733e-09" iyy="1152259.602e-09" ixz="-18241.875e-09" iyz="1010.978e-09" izz="1419689.940e-09" />
      </inertial>
    </link>

    <joint name="${NAME_JOINT_BODY}" type="revolute">
      <parent link="${NAME_LINK_BASE}" />
      <child link="${NAME_LINK_BODY}" />
      <origin xyz="0.0 0.0 0.0515" rpy="0 0 0"/>
      <limit 
        lower="${JOINT_BODY_LOWER_LIMIT}" 
        upper="${JOINT_BODY_UPPER_LIMIT}" 
        effort="${EFFORT_LIMIT}" 
        velocity="${VELOCITY_LIMIT}"/>
      <axis xyz="0 0 1"/>
      <dynamics damping="1.0e-6" friction="0.8"/>
    </joint>

    <link name="${NAME_LINK_BODY}">
      <visual>
        <geometry>
          <mesh filename="package://sciurus17_description/meshes/visual/Body.stl" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="${COLOR_LINK_BODY}"/>
      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
        <geometry>
          <mesh filename="package://sciurus17_description/meshes/collision/Body.stl" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="1.566769"/>
        <origin xyz="57.037e-03 0.359e-03 165.478e-03" rpy="0 0 0"/>
        <inertia ixx="12482584.603e-09" ixy="-16505.487e-09" iyy="10797139.881e-09" ixz="-3288844.562e-09" iyz="-31874.858e-09" izz="8446450.442e-09" />

      </inertial>
    </link>

    <joint name="${NAME_JOINT_CHEST_CAMERA}" type="fixed">
      <parent link="${NAME_LINK_BODY}" />
      <child link="${NAME_LINK_CHEST_CAMERA}" />
      <origin xyz="0.114576 0.0 0.217659" rpy="-2.7925268032 0 -1.5707963268"/>
    </joint>

    <link name="${NAME_LINK_CHEST_CAMERA}"/>

  </xacro:macro>

</robot>
